body {
    /* To prevent navbar from overlapping content, Go to Google Dev Tools and check the padding */
    padding-top: 80px;
    /*font-family: 'Roboto Slab', serif;*/
    font-size: 1.1rem;
}

.width {
    width: 80%;
}

.form-width {
    width: 90%;
}

.breadcrumb {
    background-color: #e9ecef;
    border-radius: .25rem;
    padding: .8rem;
}

.my-card {
    border: solid black 1px;
}

.card-link {
    color: inherit;
    text-decoration: none;
}

.no-link-style {
    color: inherit;
    text-decoration: none;
}

