<div class="mb-3">
	<label for="inputOldPassword" class="form-label">{{form.old_password.label}}*</label>
	<input type="password" name="old_password" class="form-control {% if form.old_password.errors %}is-invalid{% endif %}" id="inputOldPassword" aria-describedby="oldPasswordHelp" maxlength="128" required>
	<div id="oldPasswordError" class="form-text text-danger">{{form.old_password.errors|join:', '}}</div>
</div>
<div class="col-md-6 mb-3">
	<label for="inputNewPassword1" class="form-label">{{form.new_password1.label}}*</label>
	<input type="password" name="new_password1" class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}" id="inputNewPassword1" aria-describedby="newPassword1Help" maxlength="128" required>
	<div id="newPassword1Help" class="form-text">No minimum length or character requirements. 128 characters maximum.</div>
	<div id="newPassword1Error" class="form-text text-danger">{{form.new_password2.errors|join:', '}}</div>
</div>
<div class="col-md-6 mb-3">
	<label for="inputNewPassword2" class="form-label">{{form.new_password2.label}}*</label>
	<input type="password" name="new_password2" class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}" id="inputNewPassword2" aria-describedby="newPassword2Help" maxlength="128" required>
	<div id="newPassword2Error" class="form-text text-danger">{{form.new_password2.errors|join:', '}}</div>
</div>
{% if form.non_field_errors %}
	<p class="text-danger text-center">{{ form.non_field_errors|join:', ' }}</p>
{% endif %}