{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block contents %}
    <div class="container-fluid width">
        <h1>Dashboard: for all trackers</h1>
	    <p>Breadcrumbs...: tracker list, </p>

        <h3>Card links (every tracker's tickets)</h3>
        <p>
	        <a href="{% url 'tracker:all-tickets' %}">All tickets</a>,
	        <a href="{% url 'tracker:resolved-tickets' %}"> resolved tickets</a>,
	        <a href="{% url 'tracker:in-progress-tickets' %}">in progress tickets</a>,
	        <a href="{% url 'tracker:high-priority-tickets' %}">high priority tickets</a>
        </p>
        <p>Then show View (num tickets) -></p>

        <h3>chart showing number of total tickets</h3>
        <p>You can search users by name. By default they are sorted by most tickets completed</p>
		{% include 'tracker/dashboard/includes/ticket_chart.html' %}
        <h3>chart showing growing users</h3>
		{% include 'tracker/dashboard/includes/user_chart.html' %}
		<h3>Table of users</h3>
		{% include 'tracker/dashboard/includes/users_table.html' %}
	    <br>
	    <br>
	    <br>
    </div>
{% endblock %}
