{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'tracker/style.css' %}" type="text/css" />
{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block contents %}
    <div class="container-fluid width">
        <h1>Dashboard: <span class="text-danger">{{ user.get_username }}</span></h1>
		{% include 'tracker/dashboard/includes/breadcrumbs.html' %}
	    {% include 'tracker/dashboard/includes/cards.html' %}
		{% include 'tracker/dashboard/includes/charts.html' %}
		<h3 id="users-table-anchor">Table of users</h3>
		{% include 'tracker/dashboard/includes/users_table.html' %}
	    <br>
	    <br>
	    <br>
    </div>
{% endblock %}
