{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}

{% block contents %}

    <div class="container">
        <h1 class="text-center form-title">Sign Up</h1>
		{% include 'users/includes/demo_users.html' %}
		<form method="POST">
	        {% csrf_token %}
			<div class="row">
				{% include 'users/includes/signup_required_fields.html' %}
				{% include 'users/includes/signup_optional_fields.html' %}
			</div>
		    <input type="submit" value="Submit" class="btn btn-primary mb-4">
	    </form>
    </div>

{% endblock %}
