{% extends 'base.html' %}
{% block title %}Update Profile{% endblock %}


{% block contents %}

    <div class="container">
        <h1 class="text-center form-title">Update Profile</h1>
		<form method="POST">
	        {% csrf_token %}
			<div class="row">
				{% include 'users/includes/update_required_fields.html' %}
				{% include 'users/includes/update_optional_fields.html' %}
			</div>
		    <input type="submit" value="Submit" class="btn btn-primary">
	    </form>
    </div>

{% endblock %}
