<div class="row">
	<div class="col-xl-3 col-sm-6 mb-3">
		<a href="{% url 'tracker:all-tickets' %}" class="text-decoration-none">
			<div class="card text-white bg-primary p-2">
				<div class="card-body">
					<p class="card-text text-center">All Tickets</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col-xl-3 col-sm-6 mb-3">
		<a href="{% url 'tracker:resolved-tickets' %}" class="text-decoration-none">
			<div class="card text-white bg-success p-2">
				<div class="card-body">
					<p class="card-text text-center">Closed Tickets</p>
				</div>
			</div>
		</a>
	</div>

	<div class="col-xl-3 col-sm-6 mb-3">
		<a href="{% url 'tracker:in-progress-tickets' %}" class="text-decoration-none">
			<div class="card text-white bg-warning p-2">
				<div class="card-body">
					<p class="card-text text-center">In Progress Tickets</p>
				</div>
			</div>
		</a>
	</div>

	<div class="col-xl-3 col-sm-6 mb-3">
		<a href="{% url 'tracker:high-priority-tickets' %}" class="text-decoration-none">
			<div class="card text-white bg-danger p-2">
				<div class="card-body">
					<p class="card-text text-center">High Priority Tickets</p>
				</div>
			</div>
		</a>
	</div>
</div>