<div class="row">
	<div class="col-md-6 mb-3">
		<div class="card">
			<div class="card-header fw-semibold">Tickets created over {{ year }}</div>
			<div class="card-body">
				{% include 'tracker/dashboard/includes/ticket_chart.html' %}
			</div>
		</div>
	</div>
	<div class="col-md-6 mb-3">
		<div class="card">
			<div class="card-header fw-semibold">User signups over {{ year }}</div>
			<div class="card-body">
				{% include 'tracker/dashboard/includes/user_chart.html' %}
			</div>
		</div>
	</div>
</div>